extends _root

block content
  
  script(src='/js/focus.js')
  
  main.focus
    
    h1 Christmas <em>Fill-in-the-Blank!</em>
    
    #content1.hide
      p.
        Christmas is a _holiday_ when people get together with 
        _family_. People give _presents_ to each other or send 
        _cards_ wishing each other a _merry_ Christmas.  
        At Christmas, people _sing_ carols to get into the Christmas 
        _spirit_. As well, people _decorate_ Christmas trees and 
        put up _lights_ around the house. A common Christmas 
        dinner is _turkey_. There are also lots of _baked_ 
        goodies for the kids.  Christmas begins on the day before Christmas, 
        or Christmas _Eve_.
      
    #content2.hide
      p.
        Santa Claus is an old man with a white _beard_ that lives 
        at the _North_Pole_. Children sit on Santa’s _lap_ 
        and tell him what they want for Christmas. Santa _checks_ 
        his list to see if the children have been _naughty_ or 
        _nice_. If the children are bad Santa brings them 
        _coal_. If the children are good Santa brings them 
        _toys_. The toys are made in Santa’s _workshop_ 
        by _elves_. Santa travels around the world in his 
        _sleigh_, which is pulled by flying _reindeer_. 
        When he stops at a house, he goes down the chimney and
        puts presents under the tree and then he fills
        the stockings.

    p(style='text-align: center; margin-top: 2em;')
      button.done.hide You're Done
    
  aside.focus
    img(src='/img/dist-1.gif')
    img(src='/img/dist-2.gif')
    img(src='/img/dist-3.gif')
    img(src='/img/dist-4.gif')
