extends _root

block content
  
  script(src='/js/focus.js')
  
  main.focus
    
    h1 Excerpt from 
      em Alice in Wonderland
    
    #content
    
  aside.focus
    img(src='/img/dist-1.gif')
    img(src='/img/dist-2.gif')
    img(src='/img/dist-3.gif')
    img(src='/img/dist-4.gif')
