@charset "UTF-8"

// Styles Reset
@import "meyer-reset/meyer-reset"

// Utilities and Libraries
@import "bourbon/bourbon"
@import "neat/neat"
@import "base/base"
@import "animated/animated"

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300)
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700)
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic)

@import 'variables'
@import 'typography'

+anim(fade-in-down)
+anim(fade-out-left-big)
+anim(fade-out-right-big)

body
  overflow: hidden
  +outer-container

.wrapper
  +span-columns(12)

input
  max-width: 50%

button
  padding: 0.8em 1.67em

button:after
  content: ' ▸'
  font-weight: bold

button.wide
  display: block
  min-width: 50%
  margin: 0 0 1em

button.hide
  display: none

button.done
  background-color: $GREEN

  &:before
    content: '✓ '
    padding-right: 4px

  &:after
    content: ''

.previous
  font-size: 0.8em
  opacity: 0.5
  margin: 0.5em 1.3em
  cursor: pointer
  +transition(opacity 1s)
  &:hover
    opacity: 1
  &:before
    content: '◂ '
    font-weight: bold

.center
  text-align: center

.view
  padding: 2em
  position: absolute
  display: none
  width: 100%

  &.show, &.hide
    display: block

  &.show
    +animate(fade-in-down, 1s)

  &.hide
    +animate(fade-out-left-big, 1s)

  &.hide.right
    +animate(fade-out-right-big, 1s)
